<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/49be96d31f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/calender.css">
    <script src="../static/js/calendar.js" defer></script>
</head>
<body>
  <!-- 달력 -->
  <div id="calendar">
    <div id="header">
        <div id="nav">
            <button class="nav-btn prev-btn"><i class="fa-solid fa-caret-left fa-2x"></i></button>
            <span class="year-month"></span>
            <button class="nav-btn next-btn"><i class="fa-solid fa-caret-right fa-2x"></i></button>
        </div>
    </div>

    <div id="days">
        <div class="day">일</div>
        <div class="day">월</div>
        <div class="day">화</div>
        <div class="day">수</div>
        <div class="day">목</div>
        <div class="day">금</div>
        <div class="day">토</div>
    </div>
    <div id="dates"></div>

  </div>

  <!-- 일정 리스트 -->
  <div id="schedule">
      <div id="sch_nav">
          <div id="toDate"></div>
      </div>
      <div id="sch_table">
          <div class="anniversary">
              일단 기념일들 출력할 화면
              <ul>
                  <li>생일이오</li>
              </ul>
          </div>

          <div class="statement">
              돈 나갈거 출력할 화면

          </div>

      </div>

  </div>

  <!-- 하단 고정 추가버튼 -->
  <button id="add_btn" title="일정 추가하기"><i class="fa-solid fa-plus fa-2x"></i></button>


</body>
</html>