<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
  <footer>
    <!--  footer 전체 영역  -->
    <div id="footer">
        <nav id="lnbA">
            <h2>Developer</h2>
            <div>
                <h3>길보령</h3>
                <ul>
                    <li>E-mail : xxxx@naver.com</li>
                    <li>SNS : 카톡 | 인스타 | 페북</li>
                    <li>포트폴리오 : </li>
                </ul>
            </div>

            <div>
                <h3>박민영</h3>
                <ul>
                    <li>E-mail : xxxx@naver.com</li>
                    <li>SNS : 카톡 | 인스타 | 페북</li>
                    <li>포트폴리오 : </li>
                </ul>
            </div>

            <div>
                <h3>개발 기간</h3>
                <ul>
                    <li>2022.12.27 ~ 2023.01.10</li>
                </ul>
            </div>
        </nav>

      <div id="lnb">
        <ul>
            <li class="content"><a href="">회사소개</a></li>
            <li class="content"><a href="">인재채용</a></li>
            <li class="content"><a href="">제휴제안</a></li>
            <li class="content"><a href="">이용약관</a></li>
            <li class="content"><a href="">개인정보처리방침</a></li>
            <li class="content"><a href="">고객센터</a></li> <br/>
            <span id="copyright">ⓒ2022. cashbook. All Rights Reserved.</span>
        </ul>
      </div>


    </div>

  </footer>
</body>
</html>