<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
  <link rel="stylesheet" href="../static/css/myPage.css">
</head>
<body>

  <!--  -->
  <div id="warp">

    <div id="profile">


        <div id="picture">
            <img src="../static/imgs/gallery1.jpg" alt="프로필사진">
        </div>

        <div id="pf-cont">
            <span id="nick">닉네임</span> / <span id="id">아이디</span>
            <span id="cry"><a href="">수정하기</a></span> <br/>
            <span>추가할거?</span>

            <nav id="inventory">
                <ul>
                    <li><a href="">위시리스트 추가</a></li>
                    <li><a href="">고정지출 추가</a></li>
                </ul>
            </nav>

        </div>

    </div>

    <div id="contents">
        한달내용 위시리스트 고정지출 영역
        <nav id="conts_nav">
            <ul>
                <li><a href="">한달 사용 내역</a></li>
                <li><a href="">위시리스트</a></li>
                <li><a href="">고정지출 목록</a></li>
            </ul>
        </nav>



    </div>


  </div>

</body>
</html>