<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/page_re.css">
</head>
<body>

<!-- 전체 영역-->
    <div id="warp">

    <!--  프로필 영역    -->
        <div id="profile">

        <!--   프로필 사진    -->
            <div id="picture">
                <img src="../static/imgs/gallery1.jpg" alt="프로필사진">
            </div>

        <!--   프로필 내용    -->
            <div id="cont">

                <div id="NnI">
                    <span id="nickName">닉네임</span>
                    /
                    <span id="userId">아이디</span></br>
                    E-Mail : <span id="email"> xxxx@naver.com</span>

                    <div id="cryBtn">
                        <a href="">수정</a>
                    </div>
                    <div id="addNav">
                        <nav>
                            <ul>
                                <li><a href="">위시리시트 등록</a></li>
                                <li><a href="">고정지출 추가</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>



            </div>

            <!--   내용드으으을    -->
            <div id="contents">
                <h3>이용 내역</h3>
                <nav id="conts_nav">
                    <ul>
                        <li><a href="">한달 사용 내역</a></li>
                        <li><a href="">위시리스트</a></li>
                        <li><a href="">고정지출 목록</a></li>
                    </ul>
                </nav>

                <div id="한달사용리스트">












                </div>








            </div>

        </div>





    </div>




    </div>


</body>
</html>